services:
  bq-exporter:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PORT: 8080
      GIN_MODE: release
      GOOGLE_APPLICATION_CREDENTIALS: /app/creds/sa.json
      API_KEY: apikey
      RUN_MODE: service

      EXPORT_DRIVER: STARROCKS
      STARROCKS_HOST: starrocks
      STARROCKS_PORT: 9030
      STARROCKS_USER: root
      STARROCKS_PASSWORD: 
      STARROCKS_DB: analytics
      STARROCKS_HTTP_PORT: 8030
      STARROCKS_BATCH_SIZE: 1000
    volumes:
      - ./sa.json:/app/creds/sa.json:ro
    ports:
      - "8080:8080"
    restart: unless-stopped
